*{
  background-color: #F3F3F3;
  margin: 0;
  padding: 0;
}
html{
  scroll-behavior: smooth;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #F3F3F3;
  }
/** Navigation **/  
  .logo img {
    width: 100%;
    height: auto;
    max-width: 100px;
  }
  .logo img:hover {
    width: 110%;
    height: auto;
    background-image: url("images/Logo.gif");
  }
  nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
  }
  
  nav ul li {
    margin-left: 20px;
  }
  
  nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 1.2em;
    font-family: "Lucida Console", "Courier New", monospace;
  }
  nav ul li a:hover {
    color:grey;
  }
  /* Link: https://codepen.io/comehope/pen/yxbEzJ*/
/* Body */
/* Front Page Area */
  .front-page-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  

  .frontProfile {
    flex: 1 1 300px;
    border-radius: 15%;
    width: 100%;
    max-width: 350px;
    height: auto;
    margin: 1em;
  }
  /* Typewriter effect reference: https://css-tricks.com/snippets/css/typewriter-effect/ */
  .typewriter {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.typewriter p {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives the content a bit of space */
    letter-spacing: .15em; /* Adjusts the spacing between characters */
    font-size: 2em; /* Sets the font-size */
    animation: typing 3.5s steps(40), blink-caret .75s step-end infinite;
}

  

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

.container {
  display: flex;
  align-items: center;
}

.text-container {
  flex: 1 1 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 1em;
}
@media only screen and (max-width: 600px) {
  .typewriter p, .after-typewriter p {
    font-size: 1.2em; /* Adjust font size for smaller screens */
  }
}

.after-typewriter {
  margin-top: 2%;
  font-size: 4em; /* Increase font size */
  opacity: 0;
  animation: appear 2s forwards;
  animation-delay: 4.0s; /* delay equal to your typing animation */
}

@keyframes appear {
  to {
    opacity: 1;
  }
}

/*Referenced the wavy animation: https://codepen.io/alvarotrigo/pen/bGrXmwM */
.waviy {
  position: relative;
  margin-top: 2%; /* Adjust according to your design */
  opacity: 0;
  animation: appear 2s forwards;
  animation-delay: 4.4s; /* delay equal to your typing animation */
}

.waviy span {
  position: relative;
  display: inline-block;
  font-size: 2em; /* Adjust the font-size according to your design */
  color: black; /* Adjust the color according to your design */
  animation: flip 2s 2;
  animation-delay: calc(.2s * var(--i))
}

@keyframes flip {
  0%,80% {
    transform: rotateY(360deg) 
  }
}

/* Scroll Down */
.scroll-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  text-align: center;
  position: relative;
}

.scroll-container p {
  font-size: 1.2em;
  color: black;
}
/* Arrow Reference: https://codepen.io/vlt_dev/pen/NWMNzpE */
.arrow {
  position: relative;
  cursor: pointer;
  margin-top: 1em;
}

.arrow span {
  display: block;
  width: 1.2vw;
  height: 1.2vw;
  border-bottom: 5px solid orange;
  border-right: 5px solid orange;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}

.arrow span:nth-child(2) {
  animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
  animation-delay: -0.4s;
}

@keyframes animate {
  0% {
      opacity: 0;
      transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
      opacity: 1;
  }
  100% {
      opacity: 0;
      transform: rotate(45deg) translate(20px, 20px);
  }
}
/* Blinking Text */
.blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
  color: orange;
  font-size: 1.5em;
  background-color: #F3F3F3; /* You can choose any color you like for the button's background */
  padding: 10px 20px; /* This creates some space around the text inside the button */
  text-decoration: none; /* This removes the underline from the link */
  border-radius: 5px; /* This makes the corners of the button round */
  display: inline-block;
  transition: background-color 0.3s ease; /* This makes the change in background color smooth */
}

.blink:hover {
  font-size: 2em;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

/* White/Gradient Section */
#white_area{
  height: 4em;
  background-color: #F3F3F3;

}
#grey_area{
  height: 9em;
  background-color: #D9D9D9;
}
#gradient_area{
  height: 1em;
  background-color: #D9D9D9;
  background-image:linear-gradient(#F3F3F3,#D9D9D9);
}
#gradient_area2{
  height: 2em;
  background-color: #F3F3F3;
  background-image:linear-gradient(#D9D9D9,#F3F3F3);
}
/* About Me Section */
.about-me {
  margin-top: em;
  text-align: center;
  background-color: #D9D9D9;
}

.about-me h1 {
  font-size: 2em;
  color: black;
  background-color: #D9D9D9;
}

.about-me p {
  margin-top: 1em;
  font-size: 1.2em;
  color: grey;
  background-color: #D9D9D9;
}
/* Projects Gallery */
/* Future Template: https://codepen.io/bravotanmoy/pen/ZLwPdL/ */
/* In-Development Template: https://codepen.io/ludmila-tretyakova/pen/bGNppGG */
/* Current Template: https://codepen.io/ImBobby/pen/DqEYQz*/
@import url(https://fonts.googleapis.com/css?family=Anaheim);

.gallery {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
  min-height: 100%;
}

.gallery *,
.gallery *:before,
.gallery *:after {
  box-sizing: border-box;
}


.gallery h1 {
  display: table;
	margin: 5% auto 0;
	text-transform: uppercase;
	font-family: 'Anaheim', sans-serif;
	font-size: 4em;
	font-weight: 400;
	text-shadow: 0 1px white, 0 2px black;
}

.gallery .container {
  margin: 4% auto;
	width: 210px;
	height: 140px;
	position: relative;
	perspective: 1000px;
}

.gallery #carousel{
	width: 100%;
	height: 100%;
	position: absolute;
	transform-style: preserve-3d;
	animation: rotation 20s infinite linear;
}
.gallery #carousel:hover{
	animation-play-state: paused;
}
.gallery #carousel figure{
	display: block;
	position: absolute;
	width: 186px;
	height: 116px;
	left: 10px;
	top: 10px;
	background: black;
	overflow: hidden;
	border: solid 5px black;
}

.gallery #carousel figure img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery #carousel figure:nth-child(1){transform: rotateY(0deg) translateZ(288px);}
.gallery #carousel figure:nth-child(2) { transform: rotateY(40deg) translateZ(288px);}
.gallery #carousel figure:nth-child(3) { transform: rotateY(80deg) translateZ(288px);}
.gallery #carousel figure:nth-child(4) { transform: rotateY(120deg) translateZ(288px);}
.gallery #carousel figure:nth-child(5) { transform: rotateY(160deg) translateZ(288px);}
.gallery #carousel figure:nth-child(6) { transform: rotateY(200deg) translateZ(288px);}
.gallery #carousel figure:nth-child(7) { transform: rotateY(240deg) translateZ(288px);}
.gallery #carousel figure:nth-child(8) { transform: rotateY(280deg) translateZ(288px);}
.gallery #carousel figure:nth-child(9) { transform: rotateY(320deg) translateZ(288px);}

.gallery img{
	-webkit-filter: grayscale(1);
	cursor: pointer;
	transition: all .5s ease;
}
.gallery img:hover{
	-webkit-filter: grayscale(0);
  transform: scale(1.2,1.2);
}

@keyframes rotation{
	from{
		transform: rotateY(0deg);
	}
	to{
		transform: rotateY(360deg);
	}
}

.gallery figcaption {
  background-color: transparent;
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #fff;
  font-size: 18px;
  text-shadow: 2px 2px 4px #000;
}